# Dependencies
node_modules
**/node_modules
.git
.gitignore
Dockerfile
docker
logs
apps/api/db_data
apps/api/db_dev
*.md
.pnpm-store

./apps/api/node_modules
./apps/front/node_modules



./packages/nest-api/node_modules

./packages/eslint-config/node_modules
./packages/pbx/node_modules
./packages/theme/node_modules
./packages/ui/node_modules
./packages/ws/node_modules
./packages//typescript-config/node_modules



# Build outputs
dist
.next
build
*.tsbuildinfo



# Version control
.git
.gitignore

# IDE
.idea
.vscode
*.swp
*.swo

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Testing
coverage
.nyc_output

# Misc
.DS_Store
*.pem
